* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	background: rgb(0,7,40);
	background: radial-gradient(circle, rgba(0,7,40,1) 0%, rgba(3,0,45,1) 100%);
	color: #eee;
}
